
/* 
Setup

1. Enable userChrome customisation in about:config
    - Navigate to about:config in the address bar and accept the risks.
    - Search for toolkit.legacyUserProfileCustomizations.stylesheets and toggle it to true (by double clicking on it).

2. Locate and open your profile folder
    - Click on ☰ ➝ Help ➝ Troubleshooting Information or navigate to about:support in your address bar
    - Under Application Basics, click on the the Open Folder button. You should now see your profile folder.

3. Create the folder and files
    - Inside your profile folder, create a new folder named chrome (all lower case)
    - Inside the chrome folder, create a new file, userChrome.css (case sensitive) or download and save this file in the chrome folder.
    
    Note: In Windows, you must disable the "Hide extensions for known file types" setting in Explorer. Once that's done, simply create a new text file (Right click ➝ New ➝ Text Document), then make sure to replace the .txt with .css

4. Copy paste code below this line in userChrome.css and save file 
*/



@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");



/* Theme page action buttons */

#nav-bar {
  --urlbar-box-hover-bgcolor: #444444 !important;
  --urlbar-box-active-bgcolor: #3F3F3F !important;
}



/* Change margin toolbarbuttons */

#nav-bar toolbarbutton { 
  padding-left: 0px !important;  
  padding-right: 0px !important;
  margin-left: 7px !important; 
  margin-right: 7px !important;  
}

#personal-bookmarks .bookmark-item {
  margin-right: 0x !important;  
  padding-left: 6px !important;  
  padding-right: 6px !important;
}



/* Hide unified extention button */

#unified-extensions-button, #unified-extensions-button > .toolbarbutton-icon {
  display: none !important;
}



/* Theme app menu */

#appMenu-popup toolbarbutton.subviewbutton:hover {
  background-color: #353535 !important;
  border-radius: 6px !important;
}

.appMenu-tp-separator,toolbarseparator { 
  display: visible !important;
  border: 1px solid #353535 !important;
}

#appMenu-popup {
  --panel-border-color: #3E3E3E !important;
}



/* Theme right click menu */

menupopup > :is(menuitem, menu):hover {
  background-color: #353535 !important;
  border-radius: 6px !important;
}

menupopup > :is(menuitem, menu) {
  background-color: #2C2C2C !important;
  border-radius: 6px !important;
}

menupopup {
-moz-appearance:none !important;
  --panel-background: #2C2C2C !important;
  --panel-color: white !important;
  --panel-border-color: #3E3E3E !important;
  --panel-border-radius: 6px !important;
}

menuseparator {
  -moz-appearance:none !important;
  color: grey !important;
  padding: 3px !important;
}

#context-navigation > .menuitem-iconic[_moz-menuactive] {
  &:not([disabled]) {
    background-color: #353535 !important;
  }

  &[disabled] {
    background-color: transparent !important;
  }
}



/* Theme caption buttons */

.titlebar-buttonbox-container {
  margin-bottom: 17px !important;
}

.titlebar-min:hover {
  background: #2D2D2D !important;
} 

.titlebar-max:hover {
  background: #2D2D2D !important;
}

.titlebar-close:hover {
  background: #C42B1C !important;
}



/* Theme tabs and remove gap between tab and navigation bar */

#nav-bar {
  margin-top: -4px !important;
}

#tabbrowser-tabs {
  padding-top: 4px !important; 
  padding-bottom: 0px !important;
}

.tab-background, .tab-loading-burst { 
  border: none !important; 
  border-radius: 9px 9px 0px 0px !important;
} 

.tab-close-button:hover { 
  background-color: #393939 !important; 
}

.tabbrowser-tab{
  padding-inline: 1px !important;
}



/* Theme new tab button */

#tabs-newtab-button:hover > .toolbarbutton-icon { 
  background-color: #2D2D2D !important;
}

#tabs-newtab-button {
  --uc-newtab-button-height: 24px !important;
  --uc-newtab-button-width: 32px !important;
  --uc-newtab--button-icon-size: 14px !important;
  padding-top: calc(var(--tab-min-height) - var(--uc-newtab-button-height) - 4px) !important;

  > .toolbarbutton-icon {
    width: var(--uc-newtab-button-width) !important;
    height: var(--uc-newtab-button-height) !important;
    padding-block: calc((var(--uc-newtab-button-height) - var(--uc-newtab--button-icon-size)) / 2) !important;
    padding-inline: calc((var(--uc-newtab-button-width) - var(--uc-newtab--button-icon-size)) / 2) !important;
    border-radius: 5px !important;
  }
  padding-bottom: 5px !important;
  margin-left: 3px !important;
}

.tabbrowser-tab:not([selected]):hover .tab-background {
background-color: #2D2D2D !important;
border-bottom: 3px solid #202020 !important; 
}


/* Reduce left spacer on non-maximized windows */

.titlebar-spacer[type="pre-tabs"] {
  width: 5px !important;
}



/* Theme close tabs warning */

#commonDialogWindow {
  --in-content-page-background: #262626 !important;
  --in-content-page-color: white !important;
  --in-content-primary-button-text-color: black !important;
  --in-content-primary-button-text-color-hover: black !important;
  --in-content-primary-button-text-color-active: #3D3D3D !important;
  --in-content-primary-button-background: #4CC2FF !important;
  --in-content-primary-button-background-hover: #47B1E8 !important;
  --in-content-primary-button-background-active: #42A1D2 !important;
  --in-content-button-text-color: white !important;
  --in-content-button-text-color-hover: white !important;
  --in-content-button-text-color-active: #949494 !important;
  --in-content-button-background: #2D2D2D !important;
  --in-content-button-background-hover: #323232 !important;
  --in-content-button-background-active: #272727 !important;
  border: 1px solid #3E3E3E !important;
  border-radius: 7px !important;
}



/* Theme autocomplete menu */

#PopupAutoComplete > richlistbox {
  background-color: #2C2C2C !important;
  color: white !important;
  --panel-border-color: #3E3E3E !important;
}

#PopupAutoComplete > richlistbox > richlistitem:hover {
  background-color: #383838 !important;
}

panel[type="autocomplete-richlistbox"] {
  --panel-border-color: #3E3E3E !important;
}



/* Library toolbar */

#placesToolbar {
  background-color: #2C2C2C !important;
}



/* Library toolbar buttons */

#placesToolbar > #back-button > .toolbarbutton-icon,
#placesToolbar > #forward-button > .toolbarbutton-icon {
  display: none !important;
}

#placesMenu > menu {
  border: none !important;
  background-color: #2C2C2C !important;
}

#placesMenu > menu:hover {
  -moz-appearance: none !important;
  background-color: #383838 !important;
}

#placesMenu > menu > .menubar-text {
  color: white !important;
}

#clearDownloadsButton {
  color: white !important;
}

#clearDownloadsButton[disabled] {
  opacity: .5 !important;
}

#clearDownloadsButton:hover {
  color: white !important;
background-color: #383838 !important;
}



/* Library searchbox */

#searchFilter {
  -moz-appearance: none !important;
  background-color: #383838 !important;
  color: white !important;
}

.textbox-search-sign {
  color: white !important;
}



/* Theme downloads menu */

#downloadsPanel-mainView {
  --arrowpanel-background: #2C2C2C !important;
  --panel-item-hover-bgcolor: #353535 !important;
  --panel-item-active-bgcolor: #353535 !important;
  border: 1px solid #3E3E3E !important;
  border-radius: 7px !important;
}
