
/* 
Setup

1. Enable userChrome customisation in about:config
    - Navigate to about:config in the address bar and accept the risks.
    - Search for toolkit.legacyUserProfileCustomizations.stylesheets and toggle it to true (by double clicking on it).

2. Locate and open your profile folder
    - Click on ☰ ➝ Help ➝ Troubleshooting Information or navigate to about:support in your address bar
    - Under Application Basics, click on the the Open Folder button. You should now see your profile folder.

3. Create the folder and files
    - Inside your profile folder, create a new folder named chrome (all lower case)
    - Inside the chrome folder, create a new file, userChrome.css (case sensitive) or download and save this file in the chrome folder.
    
    Note: In Windows, you must disable the "Hide extensions for known file types" setting in Explorer. Once that's done, simply create a new text file (Right click ➝ New ➝ Text Document), then make sure to replace the .txt with .css

4. Copy paste code below this line in userChrome.css and save file 
*/



@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");



/* Hide unified extention button */

#unified-extensions-button, #unified-extensions-button > .toolbarbutton-icon {
    display: none !important;
}



/* Theme app menu */

#appMenu-popup toolbarbutton.subviewbutton:not([disabled], [open], :active):is(:hover) {
    background-color: #353535 !important;
    border-radius: 6px !important;
}

.appMenu-tp-separator,toolbarseparator { 
    display: visible !important;
    border: 1px solid #353535 !important;
}



/* Theme right click menu */

menupopup > :is(menuitem, menu):hover {
  background-color: #353535 !important;
  border-radius: 6px !important;
}

menupopup > :is(menuitem, menu) {
  background-color: #2C2C2C !important;
  border-radius: 6px !important;
}

menupopup {
-moz-appearance:none !important;
  --panel-background: #2C2C2C !important;
  --panel-color: white !important;
  --panel-border-color: #3E3E3E !important;
  --panel-border-radius: 6px !important;
}

menuseparator {
-moz-appearance:none !important;
  color: #3E3E3E !important;
  padding: 3px !important;
} 



/* Theme caption buttons */

.titlebar-buttonbox-container {
  margin-bottom: 17px !important;
}

.titlebar-min:hover {
  background: #2D2D2D !important;
} 

.titlebar-max:hover {
  background: #2D2D2D !important;
}

.titlebar-close:hover {
  background: #C42B1C !important;
}



/* Theme tabs and remove gab between tab and navigation bar */

#nav-bar {
  margin-top: -4px !important;
}

#tabbrowser-tabs {
padding-top: 4px !important; 
padding-bottom: 0px !important;
}

.tab-background, .tab-loading-burst { 
border: none !important; 
border-radius: 9px 9px 0px 0px !important;
} 

.tab-close-button:hover { 
background-color: #393939 !important; 
}



/* Theme new tab button */

#tabs-newtab-button:hover > .toolbarbutton-icon { 
  background-color: #2D2D2D !important;
}



/* Reduce left spacer on non-maximized windows */

.titlebar-spacer[type="pre-tabs"] {
  width: 6px !important;
}



/* Theme tooltips */

tooltip {
-moz-appearance: none !important; 
  background: #2C2C2C !important; 
  color: white !important; 
  padding: 5px 8px 5px 8px !important;
  border-radius: 3px !important;
  border-color: grey !important;
}



/* Theme close tabs warning */

#commonDialogWindow {
  --in-content-page-background: #262626 !important;
  --in-content-page-color: white !important;
  --in-content-primary-button-text-color: black !important;
  --in-content-primary-button-text-color-hover: black !important;
  --in-content-primary-button-text-color-active: #3D3D3D !important;
  --in-content-primary-button-background: #4CC2FF !important;
  --in-content-primary-button-background-hover: #47B1E8 !important;
  --in-content-primary-button-background-active: #42A1D2 !important;
  --in-content-button-text-color: white !important;
  --in-content-button-text-color-hover: white !important;
  --in-content-button-text-color-active: #949494 !important;
  --in-content-button-background: #2D2D2D !important;
  --in-content-button-background-hover: #323232 !important;
  --in-content-button-background-active: #272727 !important;
    border: 1px solid #3E3E3E;
    border-radius: 7px;
}



/* Theme autocomplete menu */

richlistbox {
  background-color: #2C2C2C !important;
  color: white !important;
}

.autocomplete-richlistitem:hover {
  background-color: #383838 !important;
}

panel[type="autocomplete-richlistbox"] {
  --panel-border-color: #3E3E3E !important;
}
